.menu-column{
    -fx-background-color: rgb(99, 9, 9);
}
.menu-button{
    -fx-background-color: None;
    -fx-label-padding: 0 10 0 0;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-background-radius: 0
}
.menu-button:hover{
    -fx-text-fill: rgb(99, 9, 9);
    -fx-background-color: white;
}