*{
    -primary:#6200EE;
    -darker_primary:#3700B3;
    -on_primary:#FFFFFF;
    -secondary:#03DAC6;
    -on_secodnary:#000000;
    -error:#B00002;
    -background:#FFFFFF;
    -on_background:#000000;
}

.label-text{
    -fx-text-fill: -on_background;
}
.background{
    -fx-background-color: -background;
}
.menu-column{
    -fx-background-color: -primary;
}
.menu-button{
    -fx-background-color: None;
    -fx-label-padding: 0 10 0 0;
    -fx-text-fill: -on_primary;
    -fx-font-size: 2em;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 5;
}
.menu-button:hover{
    -fx-text-fill: -primary;
    -fx-background-color: -on_primary;
}
.menu-button:hover > .button-icon{
    -fx-background-color: -primary;
}

.button-icon {
    -fx-shape: "M441.961,43.036C414.21,15.284,377.311,0,338.064,0c-39.248,0-76.146,15.284-103.897,43.036  c-42.226,42.226-54.491,105.179-32.065,159.698L0.254,404.584l-0.165,80.268l144.562,0.165v-55.722h55.705l0-55.705h55.705v-64.492 l26.212-26.212c17.615,7.203,36.698,10.976,55.799,10.976c39.244,0,76.14-15.282,103.889-43.032     C499.25,193.541,499.25,100.325,441.961,43.036z M420.748,229.617c-22.083,22.083-51.445,34.245-82.676,34.245     c-18.133,0-36.237-4.265-52.353-12.333l-9.672-4.842l-49.986,49.985v46.918h-55.705l0,55.705h-55.705v55.688l-84.5-0.096    l0.078-37.85L238.311,208.95l-4.842-9.672c-22.572-45.087-13.767-99.351,21.911-135.029C277.466,42.163,306.83,30,338.064,30 c31.234,0,60.598,12.163,82.684,34.249C466.34,109.841,466.34,184.025,420.748,229.617z M361.205,68.899c-14.663,0-28.447,5.71-38.816,16.078c-21.402,21.403-21.402,56.228,0,77.631 C389.652,74.609,375.867,68.899,361.205,68.899z M378.807,141.394c-4.702,4.702-10.953,7.292-17.603,7.292 		s-12.901-2.59-17.603-7.291c-9.706-9.706-9.706-25.499,0-35.205c4.702-4.702,10.953-7.291,17.603-7.291s12.9,2.589,17.603,7.291 C388.513,115.896,388.513,131.688,378.807,141.394z";
    -fx-fill: -on_primary;
    -fx-background-color: -on_primary;
    -fx-min-height: 10%;
    /*-fx-max-height: auto;*/
    -fx-min-width: 40%;
    -fx-max-width: 200;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
}
.generate-button{
    -fx-shape: "M412.642,345.939l-59.523-14.229l-66.352-66.352l51.12-51.055c11.874,4.167,24.216,6.203,36.499,6.202		c28.736-0.002,57.122-11.149,78.233-32.221c32.686-32.626,41.544-82.646,22.043-124.466l-9.042-19.391l-53.807,53.682		l-24.986-24.941l53.822-53.696L421.17,10.42C379.3-9.036,329.218-0.195,296.546,32.417		c-30.131,30.078-40.012,74.943-26.092,114.534l-20.111,20.086L102.13,18.837C91.061,7.731,76.32,1.605,60.621,1.587		c-0.023,0-0.044,0-0.067,0c-15.696,0-30.45,6.104-41.553,17.195C7.886,29.897,1.77,44.669,1.778,60.378		c0.008,15.697,6.129,30.456,17.233,41.553L167.18,250.094l-20.155,20.129c-39.652-13.917-84.597-4.061-114.733,26.02		C-0.393,328.869-9.252,378.888,10.25,420.708l9.042,19.391l53.806-53.681l24.986,24.94l-53.822,53.697l19.48,9.051		c14.814,6.883,30.652,10.224,46.388,10.224c28.738-0.001,57.124-11.148,78.235-32.221c30.132-30.078,40.013-74.943,26.093-114.534		l51.082-51.018l66.366,66.366l14.229,59.523l76.705,76.706l66.507-66.507L412.642,345.939z M301.691,144.194		c-14.181-30.419-7.73-66.807,16.05-90.545c18.28-18.246,44.036-26.278,68.827-22.6l-42.211,42.113l67.451,67.328l42.24-42.142		c3.697,24.738-4.343,50.456-22.622,68.702c-23.802,23.759-60.288,30.197-90.793,16.02l-9.505-4.417l-34.603,34.559l-24.968-24.965		l34.573-34.529L301.691,144.194z M31.778,60.362c-0.004-7.69,2.992-14.923,8.43-20.362c5.433-5.426,12.657-8.414,20.347-8.414		c7.711,0.009,14.918,3.002,20.345,8.446l194.398,194.38l-40.711,40.659L40.221,80.714C34.781,75.277,31.782,68.049,31.778,60.362z		 M167.171,430.877c-18.28,18.246-44.038,26.278-68.827,22.6l42.211-42.112l-67.451-67.329l-42.24,42.142		c-3.698-24.737,4.343-50.455,22.623-68.702c23.801-23.758,60.288-30.197,90.792-16.021l9.505,4.417l34.609-34.565l24.967,24.966		l-34.578,34.534l4.44,9.525C197.403,370.751,190.952,407.138,167.171,430.877z M373.342,397.227l-7.564-31.645l31.646,7.564		l49.498,49.499l-24.081,24.081L373.342,397.227z";
}
.verify-button{
    -fx-shape: "M501.657,352.997H468.04V89.138c0-22.671-18.444-41.115-41.115-41.115H85.075c-22.671,0-41.115,18.444-41.115,41.115				v263.859H10.343C4.631,352.997,0,357.628,0,363.34v14.825c0,28.897,23.51,52.407,52.407,52.407h371.675l30.376,30.376				c2.02,2.019,4.667,3.03,7.314,3.03c2.647,0,5.294-1.011,7.314-3.03l32.913-32.912c1.939-1.939,3.03-4.571,3.03-7.314				s-1.09-5.373-3.03-7.314l-1.973-1.971c7.468-9.058,11.974-20.642,11.974-33.271V363.34H512				C512,357.628,507.368,352.997,501.657,352.997z M64.646,89.138c0-11.265,9.164-20.428,20.428-20.428h341.851				c11.265,0,20.428,9.163,20.428,20.428v263.859h-5.765l-81.815-81.814h48.689c5.712,0,10.343-4.632,10.343-10.343				s-4.632-10.343-10.343-10.343h-48.709c8.631-23.939,8.996-50.21,1.089-74.346h6.867c5.712,0,10.343-4.632,10.343-10.343				c0-5.712-4.632-10.343-10.343-10.343h-16.027c-4.922-8.654-11.062-16.8-18.435-24.173c-0.571-0.571-1.149-1.13-1.729-1.686				h76.945c5.712,0,10.343-4.632,10.343-10.343c0-5.712-4.632-10.343-10.343-10.343H303.994c-0.706,0-1.395,0.071-2.061,0.207				c-30.831-14.728-66.965-14.799-97.846-0.207h-59.175c-5.713,0-10.343,4.632-10.343,10.343c0,5.712,4.631,10.343,10.343,10.343				h29.158c-0.58,0.556-1.159,1.115-1.729,1.686c-7.307,7.307-13.494,15.434-18.484,24.173h-28.701				c-5.713,0-10.343,4.632-10.343,10.343c0,5.712,4.631,10.343,10.343,10.343h19.513c-2.729,8.318-4.489,16.984-5.237,25.859				h-38.583c-5.713,0-10.343,4.632-10.343,10.343c0,5.712,4.631,10.343,10.343,10.343h38.689c0.843,8.884,2.713,17.548,5.545,25.859				h-19.927c-5.713,0-10.343,4.632-10.343,10.343s4.631,10.343,10.343,10.343h29.412c4.862,8.276,10.807,15.989,17.773,22.955				c0.993,0.993,2.004,1.955,3.023,2.903h-50.208c-5.713,0-10.343,4.632-10.343,10.343s4.631,10.343,10.343,10.343h81.595				c14.621,6.45,30.331,9.681,46.043,9.681c18.272,0,36.541-4.364,53.098-13.086l40.615,40.615H64.646V89.138z M318.619,277.567				c-36.296,36.299-95.354,36.297-131.651,0.001c-17.583-17.582-27.265-40.959-27.265-65.825c0-24.866,9.682-48.243,27.265-65.826				c18.149-18.149,41.987-27.222,65.826-27.222c23.839,0,47.678,9.073,65.826,27.222				C354.915,182.214,354.915,241.272,318.619,277.567z M52.407,409.885c-17.491,0-31.72-14.229-31.72-31.72v-4.482h346.506				l36.202,36.202H52.407z M461.771,439.006L323.583,300.817c3.343-2.66,6.573-5.53,9.665-8.62c3.092-3.091,5.959-6.322,8.619-9.665				l138.19,138.19L461.771,439.006z M491.313,378.165c0,6.921-2.24,13.32-6.018,18.539l-23.02-23.02h29.038V378.165z                M285.556,188.435h-48.278v-10.343c0-8.555,6.96-15.515,15.515-15.515c4.268,0,8.247,1.698,11.202,4.78				c3.953,4.122,10.5,4.259,14.625,0.307c4.123-3.953,4.26-10.501,0.307-14.625c-6.894-7.19-16.175-11.149-26.134-11.149				c-19.962,0-36.202,16.24-36.202,36.202v10.714c-7.379,1.585-12.929,8.153-12.929,15.998v50.01				c0,9.026,7.343,16.369,16.368,16.369h65.526c9.026,0,16.369-7.344,16.369-16.368v-50.01				C301.925,195.778,294.582,188.435,285.556,188.435z M281.238,250.495h-56.889v-41.374h56.889V250.495z                M100.849,129.604h0.298c5.713,0,10.343-4.632,10.343-10.343c0-5.712-4.631-10.343-10.343-10.343h-0.298				c-5.713,0-10.343,4.632-10.343,10.343C90.505,124.972,95.136,129.604,100.849,129.604z";
}
.reg-button{
    -fx-text-fill: -on_primary;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-border-color:-primary;
    -fx-background-color:-primary;
}

.reg-button:hover{
    -fx-background-color:-darker_primary;
    -fx-border-color:-darker_primary;
}

.key-box{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}